body{
	background-image: url("https://aos.iacpublishinglabs.com/question/aq/700px-394px/demands-answer-asks-question_11a663c8a10f423.jpg?domain=cx.aos.ask.com");
	background-size: cover;
}

.container{

	margin-top: 50px;
	max-width: 60%;
}